{% extends 'base_2.html' %}
{% block title %}
About Page
{% endblock %}

{% block content %}
<h2 class="property-list">Hi.</h2>
<h2 class="property-list">I Am A Python Web Developer.</h2>
<h2 class="property-list">I Have Learnt Everything About Web Developing From YouTube.</h2>
<h2 class="property-list">I Have Watched Many Courses On YouTube.</h2>
<h2 class="property-list">So To Help You And Save Your Time, I Have Filtered The Best YouTube Courses For Each Programming Language.</h2>
<h2 class="property-list">So You Don't Have To Surf The Whole Day On Internet Finding Courses.</h2>
<h2 class="property-list">Hope You Find This Helpful.</h2>

{% endblock %}

{% block css %}
<style>
    .property-list{
        text-align: center;
        font-size: 28px;
        font-family: monospace;
    }

</style>
{% endblock %}